body {
	font-family:sans;
	font-size:12px;
	margin: 0px;
	padding: 0px;
//        height:2000px;  
}

.snode {
	margin-left:20px;
	border:1px solid silver;
	border-left: 3px solid darkorange;
	background-color:#efefef;
	padding: 2px;
	cursor: pointer;
}

.tnode {

}

.wnode {
	margin-left:20px;
	padding-left:4px;
	padding-right:4px;
	border:1px solid black;	
	background-color: white;
}

#sn0 {
	background-color: silver;
	border: 1px solid black;
}

 #sn0 > .snode {
//	background-color: silver;
	border: 2px solid black;	
 }

.ipnode {
//	border-left: 3px solid navy;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	background-color: silver;
}

.snodesel {
	background-color: orange;
}

.menubutton {
    width: 80%;
}

#floatMenu {  
    position:absolute;  
    top:50px;  
    left:600px;  
    margin-left:5px;  
    width:200px;  
   background: #efefef;
   border: 1px solid silver;
    text-align: center;
}  

#editpane{
   position: absolute;
    top:0px; 
   left:0px;
   margin:0px;
   padding: 0px;
   width: 600px;
//   border: 1px solid red;
}

.labeledit {
	font-family:sans;
	font-size:12px;
	background-color: #DCDBFF;	
	margin: 0px;
	border: 0px;
	width: 80px;
}
