body {
	font-family:sans;
	font-size:12px;
}

.snode {
	margin-left:20px;
	border:1px solid silver;
	background-color:#efefef;
	padding: 2px;
	cursor: pointer;
}

.snodesel {
	background-color: orange;
}

.tnode {

}

.wnode {
	margin-left:20px;
	padding-left:4px;
	padding-right:4px;
	border:1px solid black;	
	background-color: white;
}
